.table
  border-collapse: collapse
  width: 100%

.td
  padding: 1%

cell =
  width: 100%
  height: @width
  cursor: pointer

.selected
  {cell}
  background: #651FFF

.not-selected
  {cell}
  background: white
