@require '../../node_modules/nib/index'

$main-font =
  font-family: 'Roboto', sans-serif

$bgcolor = #263238
$secondbgcolor = #EEEEEE
$bordercolor = #BDBDBD
$accent = #EDE7F6
$strongaccent = #651FFF
